enable-pre-post-scripts=true
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=bcrypt
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=@scarf/scarf